<div>
    <h2>
        <span jhiTranslate="jhipsterApp.basicIndex.home.title">Basic Indices</span>
        <button class="btn btn-primary float-right jh-create-entity create-basic-index" [routerLink]="['/', { outlets: { popup: ['basic-index-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.basicIndex.home.createLabel">
            Create new Basic Index
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="basicIndices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.basicIndex.name">Name</span></th>
            <th><span jhiTranslate="jhipsterApp.basicIndex.nickname">Nickname</span></th>
            <th><span jhiTranslate="jhipsterApp.basicIndex.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let basicIndex of basicIndices ;trackBy: trackId">
                <td><a [routerLink]="['../basic-index', basicIndex.id ]">{{basicIndex.id}}</a></td>
                <td>{{basicIndex.name}}</td>
                <td>{{basicIndex.nickname}}</td>
                <td>{{basicIndex.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../basic-index', basicIndex.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'basic-index/'+ basicIndex.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'basic-index/'+ basicIndex.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
